.icono{
    font-size:22pt;
}

header, main{
    
    width: 50%;
    display: flex;
    border: red 1px solid;
    
    align-items: top;
    justify-content: space-between;

    
}

.grande{
    height: 500px;
    font-size: 50pt;
    width: 100%;
}
.chico{
    height: 150px;
    width: 50%;
    font-size: 25pt;
}

.aparecer{
    height: 200px;
}
.desaparecer{
    height: 0px;
    width: 0px;
    font-size: 0;
}