
<form [formGroup]="FormGroup" (ngSubmit)="onSubmit()">
    <label for="fecha">Fecha Nacimiento: </label>
    <input id="fecha" name="fecha" type="text" value="{{data.peopleInfo.birth_year}}" formControlName="fechaNacimientoFormControl">
    <br>
    <label for="especie">Especie:</label>
    <mat-select multiple formControlName="speciesFormControl">
        <mat-option *ngFor="let species of speciesList" [value]="species.url">{{species.name}}</mat-option>
    </mat-select>
    <br>
    <label for="altura">Altura: </label>
    <input id="altura" name="altura" type="text"  formControlName="alturaFormControl">
    <br>
    <label for="Peso">Peso: </label>
    <input type="text" name="Peso" type="text"  formControlName="pesoFormControl">
    <br>
    <label for="genero">Género: </label>
    <input id="genero" name="genero" type="text"  formControlName="generoFormControl">
    <br>
    <label for="pelo">Color de Pelo: </label>
    <input type="text" name="pelo" type="pelo" formControlName="colorPeloFormControl">
    <br>
    <label for="piel">Color de Piel: </label>
    <input id="piel" name="piel" type="text"  formControlName="colorPielFormControl">
    <br>
    <label for="planeta">Planeta: </label>
    <mat-select multiple>
        <mat-select-trigger>
        </mat-select-trigger>
        <mat-option *ngFor="let planet of planetsList" [value]="planet.url">{{planet.name}}</mat-option>
    </mat-select>
    
    <br>
    <input type="submit" value="Login" [disabled]="!FormGroup.valid"/>
</form>