<h2>E-mail</h2>
<mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <h2>Contreaseña</h2>
 
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <div class="flex">
        <input matInput [type]="visibilidad">      
            
    
        <mat-icon (click)="changeIcon()" aria-label="visibility" >{{icono}}</mat-icon>
        
    </div>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="disabled">Check me!</mat-checkbox>
        <button mat-button [disabled]="disabled">Login</button>
       
    