<ul>
    <li *ngFor="let pokemon of listadoPokemon">
       

        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{pokemon.name}}</mat-card-title>
              <mat-card-subtitle>Pokemon</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="modificarUrl(pokemon)" alt="Foto">
            <mat-card-content>
              
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="getPokemonInfo(pokemon)">+ INFO</button>
            </mat-card-actions>
          </mat-card>

    </li>

    
    
</ul>


